################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/WD7+ZipToCws/FileContentIndex
/.gitignore
